IDONIA_BASE_URL=https://connect-staging.idonia.com
IDONIA_REPORT_ENDPOINT=report_hak_numX
IDONIA_STUDY_ENDPOINT=dicom_hak_numX
RECOG_BASE_URL=https://api.recog.es
IDONIA_API_KEY=<your_idonia_api_key>
IDONIA_API_SECRET=<your_idonia_api_secret>
RECOG_API_KEY=<your_recog_api_key>